# -*- mode: conf -*-
*.pyc
*~
.cache/
.tox/
__pycache__
#
.directory
du.log
#
Musica/locale/fr/LC_MESSAGES/Musica.mo
Musica/locale/messages.pot
MANIFEST
#
specifications/musicxml-xsd/musicxml.cxx
specifications/musicxml-xsd/musicxml.hxx
specifications/musicxml-xsd/musicxml.xsd
specifications/musicxml-xsd/xlink.xsd
specifications/musicxml-xsd/xml.xsd
specifications/musicxml30.zip
#
Musica/Geometry/trash.py
Musica/Geometry/unused/
Musica/Locale/note-names.txt
Musica/MusicXML/old.sh
Musica/Theory/tmp.py
#
doc/sphinx/build/
doc/sphinx/source/_static/hidecode.js
doc/sphinx/source/_static/make-logo-png
doc/sphinx/source/api/
doc/sphinx/source/bibliography.rst
doc/sphinx/source/design-notes.rst
doc/sphinx/source/development.rst
doc/sphinx/source/donate.rst
doc/sphinx/source/faq.rst
doc/sphinx/source/how-to-refer.rst
doc/sphinx/source/index.rst
doc/sphinx/source/installation.rst
doc/sphinx/source/news.rst
doc/sphinx/source/news.txt
doc/sphinx/source/overview.rst
doc/sphinx/source/reference-manual.rst
doc/sphinx/source/related-projects.rst
doc/sphinx/source/roadmap.rst
doc/sphinx/source/themes/sphinx_rtd_theme
doc/sphinx/source/themes/sphinx_rtd_theme-dev
doc/sphinx/source/themes/sphinx_rtd_theme-venv
#
tools/upload-www
#
external-docs/
figures/
latex-tests/
lilypond-test/
musicxml-samples/
ressources/
test/
trash/
#
api-test.py
music21-comment.txt
names.txt
notes-tmp.txt
old-api-test.py
test.aux
test.log
test.pdf
test.tex
