*~
__pycache__
#
specifications/musicxml-xsd/musicxml.cxx
specifications/musicxml-xsd/musicxml.hxx
specifications/musicxml-xsd/musicxml.xsd
specifications/musicxml-xsd/xlink.xsd
specifications/musicxml-xsd/xml.xsd
#
Musica/MusicXML/old.sh
Musica/Tools/EnumFactory.py
Musica/__init__.pyc
doc/sphinx/build/
doc/sphinx/source/_static/hidecode.js
doc/sphinx/source/_static/make-logo-png
doc/sphinx/source/api/
doc/sphinx/source/bibliography.rst
doc/sphinx/source/design-notes.rst
doc/sphinx/source/development.rst
doc/sphinx/source/donate.rst
doc/sphinx/source/faq.rst
doc/sphinx/source/how-to-refer.rst
doc/sphinx/source/index.rst
doc/sphinx/source/installation.rst
doc/sphinx/source/news.rst
doc/sphinx/source/news.txt
doc/sphinx/source/overview.rst
doc/sphinx/source/reference-manual.rst
doc/sphinx/source/related-projects.rst
doc/sphinx/source/roadmap.rst
doc/sphinx/source/themes/sphinx_rtd_theme
doc/sphinx/source/themes/sphinx_rtd_theme-dev
doc/sphinx/source/themes/sphinx_rtd_theme-venv
musicxml-samples/
names.txt
ressources/
specifications/musicxml30.zip
test/
tools/upload-www
