include .gitignore
include GPL-V3.0.txt
include LICENSE.txt
include MANIFEST.in
include README.html
include README.rst
include README.txt
include make-release.sh
include setenv.sh start.sh
include setup_data.py
include requirements.txt requirements-dev.txt
include bin/make-figure

recursive-include Musica *.yml *.mo
recursive-include doc *
recursive-include doc/sphinx/source/_static *
recursive-include doc/sphinx/source/themes *
recursive-include tools *
recursive-include unit-test *.py

global-exclude *~
global-exclude *.pyc
global-exclude *.stdout *stderr

prune doc/sphinx/build
prune doc/sphinx/source/api
prune doc/sphinx/source/themes/sphinx_rtd_theme*
